* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 10vh;

    display: flex;
    flex-direction: row;

    justify-content: center;
}

main table {
    min-width: 40vw;
    text-align: center;
    border-collapse: collapse;
}

main table th {
    border-bottom: solid 1px #000;
    font-size: x-large;
}

main table td,
main table th {
    padding: 1vh 2vw;
}

.product .header {
    text-align: left;
}

.product .header h2 {
    font-size: x-large;
}

.product .header span {
    font-size: small;
}

main .products {
    margin: 1rem;
    padding: 1rem;
}

main .payment hr {
    margin: 1vh 0;
}

main .payment {
    height: max-content;
    min-height: 20vh !important;
    max-height: 50vh;
    padding: 1vh 2vw;

    width: max-content;
    min-width: 15vw;
}

.products .product {}

.products .product .quantity button {
    min-width: 40px;
    min-height: 40px;
    background-color: transparent;
    border: 2px solid #252424;
    border-radius: 5px;
}

.products .product .quantity span {
    margin: 0 .5rem;
}